<!-- Header / Hero Section -->
<header class="py-5 text-white text-center">
  <div class="container">
    <h1 class="display-4 fw-light" style="margin-top: 5vh;">Sam and Remy's Adventures</h1>
    <p class="lead text-white mx-auto mb-4" style="max-width: 700px;">
      We took a year off, crossed nine countries, hiked over 700 miles, drove 18,000 miles, flew 30,000 miles, celebrated four weddings—and lived the kind of year you only dream about.
    </p>
  </div>
</header>

<!-- Album Section -->
<div class="album-wrapper">
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col" *ngFor="let card of cards">
          <div class="card shadow-sm">
            <img [src]="card.img" class="bd-placeholder-img card-img-top" [alt]="card.title">
            <div class="card-body">
              <h5 class="card-title">{{ card.title }}</h5>
              <p class="card-text">{{ card.text }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <!-- <button type="button" class="btn btn-sm btn-outline-secondary">View</button> -->
                </div>
                <small class="text-muted">{{ card.time }}</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
