<body class="text-center">
  <div class="bg">
    <div id="textDiv">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <main role="main" class="inner cover">
      <h1 class="cover-heading">Hello World. My name is Sam Munno</h1>
      
      <p class="lead">I'm a Software Developer with 3+ years of professional experience.  Enjoy, my website is a SPA written in Angular deployed an Amazon S3 & Route 53. Check out the code in my <a href="https://github.com/Sam-Munno">Github</a></p>
      
      
    </main>
  </div>
  </div>
</div>
</body>