
 <body>
    <div id=mainContainer>
      <div id="title">
      <h2>Personal Life</h2>
      </div>
     <hr class="featurette-divider">
        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Hiking</h2>
            <p class="lead">Hiking might be my favorite hobby. I love exploring nature with friends. PB&J's are a must. Most recent trip: Arches Natl Park & Rocky Mountain Natl Park.  Pro Tip: Drop a pin on your phone at the trailhead</p>
          </div>
          <div class="col-md-5">
            <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><image href="/assets/images/hiking.JPG" height="100%" width="100%"/></svg>
          </div>
          </div>
          <hr class="featurette-divider">
          <div class="row featurette">
            <div class="col-md-7 order-md-2">
              <h2 class="featurette-heading">Brazilian Jiu Jitsu</h2>
              <p class="lead">I started learning Jiu Jitsu in 2018 searching for a new hobby. I immediately fell in love with the problem solving and skill involved.  The concept of technique over power is captivating</p>
            </div>
            <div class="col-md-5 order-md-1">
              <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><image href="/assets/images/JiuJitsu.JPG" height="100%" width="100%"/></svg>
            </div>
            </div>
            <hr class="featurette-divider">
          <div class="row featurette">
            <div class="col-md-7">
              <h2 class="featurette-heading">Yoga</h2>
              <p class="lead">I started practicing Hatha yoga in 2019 looking to improve my strength and flexibility. I find Yoga equally as rewarding to the mind as well as body.  To fellow software developers, this will help with the back pain. 😊</p>
            </div>
            <div class="col-md-5">
              <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><image href="/assets/images/yoga.JPG" height="100%" width="100%"/></svg>
            </div>
            </div>
     </div>
    </body>