
 <body>
    <div id=mainContainer>
      <div id="title">
      <h2>Personal Life</h2>
      </div>
      
     <hr class="featurette-divider">
     
          <div class="row featurette" *ngFor="let row of json" >
          <div class="col-md-7 {{row.textSpacing}}">
            <h2 class="featurette-heading">{{row.title}}</h2>
            <p class="lead">{{row.subTitle}}</p>
          </div>
          <div class="col-md-5 {{row.photoSpacing}}">
            <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"  ><image attr.href={{row.src}} height="100%" width="100%"/></svg>
          </div>
          </div>
     </div>
    </body>